body, h1, h2, p, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

#wrapper {
    width: 500px;
    margin: 50px auto;
    background-color: #acd2e3;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    color: rgb(140, 10, 10);
}

label {
    font-weight: bold;
}

input, textarea, button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #28a745; /* Green */
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #218838; /* Darker green on hover */
}

/* Add color to other buttons if needed */
button#btn {
    background-color: #007bff; /* Blue */
}

button#btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Responsive design for small screens */
@media only screen and (max-width: 600px) {
    #wrapper {
        width: 90%;
        margin: 20px auto;
    }
}

.sea{
    margin-left: 70rem; 
}
#entry {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.new-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img {
    border-radius: 50%;
    margin-bottom: 10px;
}

h4 {
    margin: 0;
    color: #333;
}

p {
    margin: 5px 0;
    color: #666;
}

h3 {
    color: #333;
}

pre {
    white-space: pre-wrap;
    margin: 10px 0;
    color: #555;
}

button.edt-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button.edt-btn:hover {
    background-color: #45a049;
}